/* UTF-8 */
body {
  font-family: 'Noto Sans Japanese', sans-serif;
  background: url("../img/background.png");
  text-align: center;
}

a:link { color: #236B65; }
a:visited { color: #236B65; }
a:hover { color: #236B65; }
a:active { color: #236B65; }

ul {  list-style:none; }

.title .title-caption {
  font-size: 20pt;
  font-family: "Hiragino Mincho ProN","HG明朝E","ＭＳ Ｐ明朝", serif;
  padding-bottom: 100px;
}

.title .title-box {
  width: 80px;
  margin: auto;
  padding: 120px;
}

.content-title {
  font-size: 20pt;
}

.content-box {
  height: 600px;
}

.ad-zone {
  height: 120px;
}

.footer {
  color: #999;
  background-color: #050505;
  width:100%;
  padding: 5px 0;
  text-align: center;
  position: fixed;
  bottom: 0;
}
.footer a:link { color: #A0A59D; }
.footer a:visited { color: #A0A59D; }
.footer a:hover { color: #A0A59D; }
.footer a:active { color: #A0A59D; }